@(message: String)(implicit header: controllers.Header)

@main("Application name") {


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<section id="top"><div class="wrapper">
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star"></span> Star
  </button>

  <div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
  
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>

<!-- Button trigger modal -->
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-backdrop="static" data-target="#myModal">
    Launch demo modal
  </button>
</div></section>


<div id="news">
  <a href="/day">news</a>
    <!-- iframe src="http://www.playframework.com/widget?uid=d739a361dea875d02b97a73992275763a000e949&version=2.3.2&tag=SCALA" scrolling="no" style="overflow: hidden; display: block; margin: 0 auto; width: 960px; height: 60px"></iframe -->
</div>


<div id="content" class="wrapper doc">
  Index page content<br/>
  content<br/>
  content<br/>
  content<br/>
  content<br/>
  content<br/>
  <div id="listsEditor"/>
  content<br/>
  <div id="gridEditor"/>
</div>


<!-- div style="width: 100%;">
@play20.welcome(message)
</div -->

<script>

var data = [
  {"id":22,"caption":"AAA", "city": "City AAA", "country": "Country AAA"},
  {"id":23,"caption":"BBB", "city": "City BBB", "country": "Country BBB"},
  {"id":24,"caption":"CCC", "city": "City CCC", "country": "Country CCC"},
  {"id":25,"caption":"DDD", "city": "City DDD", "country": "Country DDD"},
  {"id":26,"caption":"EEE", "city": "City EEE", "country": "Country EEE"},
  {"id":21,"caption":"FFF", "city": "City FFF", "country": "Country FFF"},
  {"id":27,"caption":"GGG", "city": "City GGG", "country": "Country GGG"},
  {"id":28,"caption":"HHH", "city": "City HHH", "country": "Country HHH"},
  {"id":29,"caption":"III", "city": "City III", "country": "Country III"},
  {"id":30,"caption":"JJJ", "city": "City JJJ", "country": "Country JJJ"}
];

React.renderComponent(ReactGrid({ 
	data: { lines: data },  
	lineNode: ReactGridRow,  
	editorTitle: "Edit", 
	localMode: 1,
	newPrototype: newTeamPrototype,
	nodeClass: "dataRow",
	saveTo: "/api/data",
	columns: [
	    //{id: "id",      caption: "ID",      width: "10%", set: function(data, value) { if (value) data.id = value; }, readOnly: true },
	    {id: "caption", caption: "Caption", width: "30%" },
	    {id: "city",    caption: "City",    width: "30%" },
	    {id: "country", caption: "Country", width: "30%", get: function(value) { return value.toUpperCase(); } }
	]}),  document.getElementById("gridEditor")
);
		

React.renderComponent(ReactLists( {data:{ items: data}, title:"Select", localMode:"1", 
  width:"col-sm-12", widthLeft:"col-sm-offset-1 col-sm-4", widthRight:"col-sm-offset-2 col-sm-4"} ),  document.getElementById("listsEditor"));

</script>
}
