@(form: Form[(String,String,String)])(implicit header: controllers.Header)

@main("Edit user") {

<section id="top">
<div class="wrapper">
</div>
</section>


<div id="content" class="wrapper doc">

  @helper.form(routes.User.edituser) {
    @form.globalError.map {error => <p class="error">@error.message</p>}
    <div class="col-xs-4">
    <p>
      <input class="form-control" type="password" name="oldpassword" placeholder="Old password" id="oldpassword" value="@form("old").value">
    </p>
    <p>
      <input class="form-control" type="password" name="newpassword" placeholder="New password" id="newpassword" value="@form("new").value">
    </p>
    <p>
      <input class="form-control" type="password" name="confirmpassword" placeholder="Confirm password" id="confirmpassword" value="@form("confirm").value">
    </p>
    <p>
      <button  class="btn btn-default" type="submit" id="savebutton">Save</button>
    </p>
    </div>
    }
  <p class="note">
    <!-- Try <em>guillaume@@sample.com</em> with <em>secret</em> as password. -->
  </p>
</div>
}
