@(form: Form[(String,String)])(implicit header: controllers.Header, flash: Flash)

@main("Edit user") {

<section id="top">
<div class="wrapper">
</div>
</section>


<div id="content" class="wrapper doc">

  @helper.form(routes.UserController.edituser, 'role->"form", 'class->"form-horizontal") {
    <div class="col-xs-8">
      <div class="form-group">
        @form.globalError.map     {error    => <div class="alert alert-danger" role="alert">@error.message</div>}
        @flash.get("success").map { message => <div class="alert alert-success" role="alert">@message</div> } 
        @flash.get("failure").map { message => <div class="alert alert-warning" role="alert">@message</div> }
      </div>
    
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
        <!-- div class="input-group col-sm-10" -->
          <!-- div class="input-group-addon">&#64;</div -->
          <input class="form-control" type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">User name</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" name="username" placeholder="User name" id="username" value="@form("username").value">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <button  class="btn btn-default" type="submit" id="savebutton">Save</button>
        </div>
      </div>
    </div>
    }
  <p class="note">
    <!-- Try <em>guillaume@@sample.com</em> with <em>secret</em> as password. -->
  </p>
</div>
}
